{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}


<!-- Start of categories page: #one -->

    

    <div data-role="page" id="one">
    <div data-role="popup" id="popupWelcome" class="ui-content" data-theme="a" data-overlay-theme="b" data-history="false" style="max-width:300px;background-color:#FFFF99;">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <p>Welcome, and thanks for testing <strong>ChiShenMa</strong>!  Please kindly excuse the mess, this is still a work in progress.  Feel free to play around and let us know your feedback!</p>
    </div>
    <script>
    $(document).on("pagecontainershow", function () {
    var activePage = $.mobile.pageContainer.pagecontainer("getActivePage");
    if (activePage[0].id == "one") {
        setTimeout(function () {
            $("#popupWelcome").popup().popup("open");
        }, 50);
    }
});
    // jQuery(document).on ( 'pageinit', '#one', function(event) {
    // setTimeout(function(){
    //     $( '#popupWelcome' ).popup(); 
    //     $( '#popupWelcome' ).popup('open'); 
    // },500);
    // });
    </script>
    <!-- Header -->
    <div data-role="header" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false">
        <h1>Curated picks</h1>
    </div>

    <!-- Content -->
    <div role="main" class="ui-content" style="padding:0px;">

        <div class="cat-grid-responsive">
            <div class="ui-block-a"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/killer_view.png' %}">
                <h2 class="category_name"><span>Killer<br />Views</span></h2>
                <h3 class="category_count"><span>20 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-b"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/vegan_heaven.png' %}">
                <h2 class="category_name"><span>Vegan<br />Heaven</span></h2>
                <h3 class="category_count"><span>30 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-c"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/garden_villas.png' %}">
                <h2 class="category_name"><span>Garden<br />Villas</span></h2>
                <h3 class="category_count"><span>40 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-d"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/open_late.png' %}">
                <h2 class="category_name"><span>Open<br />Late</span></h2>
                <h3 class="category_count"><span>50 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-e"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/killer_view.png' %}">
                <h2 class="category_name"><span>Killer<br />Views</span></h2>
                <h3 class="category_count"><span>20 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-f"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/vegan_heaven.png' %}">
                <h2 class="category_name"><span>Vegan<br />Heaven</span></h2>
                <h3 class="category_count"><span>30 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-g"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/garden_villas.png' %}">
                <h2 class="category_name"><span>Garden<br />Villas</span></h2>
                <h3 class="category_count"><span>40 recommendations</span></h3>
            </div></a></div>
            <div class="ui-block-h"><a href="{% url 'your_restaurants' %}" class="a_categories" data-transition="flow"><div class="ui-bar ui-bar-a div_category" style="height:auto;padding:0px;">
                <img class="img_categories" src="{% static 'images/categories/open_late.png' %}">
                <h2 class="category_name"><span>Open<br />Late</span></h2>
                <h3 class="category_count"><span>50 recommendations</span></h3>
            </div></a></div>
        </div>
    </div><!-- /content -->

    <!-- Footer -->
    <div data-role="footer" data-theme="a" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false"> 
        <a href="{% url 'help_me_decide' %}" class="ui-btn ui-corner-all" rel="external" style="background-color:#FFCC00; display:block; margin:5px;">Help me decide!</a>
    </div><!-- /footer -->
    </div>
<!-- /categories page -->
{% endblock %}



<!-- {% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->