{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}

<!-- Start of decide-o-matic page: #four -->

<!--     <div data-role="popup" id="popupDecideOMatic" class="ui-content" data-theme="a" data-overlay-theme="b" style="max-width:300px;background-color:#FFFF99;">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <p>This is an early test of the <strong>Decide-O-Matic</strong>.  Swipe right if you like a picture and left if you don't.  After 10 swipes, we will match you with the perfect restaurant!</p>
    </div> -->

    <div data-role="page" id="four" data-theme="a">

    <div data-role="header" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false" data-add-back-btn="true">
        <h1>Decide-o-matic</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content" style="padding:0px;">
    <div class="slider slick-loading">
    </div>
    <div class="results">
    </div>
<!--         <div id="owl-demo" class="owl-carousel owl-theme" style="display:block">
          <div class="item"><img src="{% static 'images/decide-o-matic/happy_baby.png' %}"></div>
          <div class="item"><img src="{% static 'images/decide-o-matic/candlelight.png' %}"></div>
          <div class="item"><img src="{% static 'images/decide-o-matic/fast.png' %}"></div>
        </div> -->

    </div><!-- /content -->

    </div>
<script>
$( document ).ready(function() {
(function () {
    var noList = [];
    var yesList = [];
    var images = ['<img src="{% static 'images/indian.jpg' %}" alt="" title=""/>', '<img src="{% static 'images/hamburger.jpg' %}" alt="" title="hamburger"/>', '<img src="{% static 'images/italian-pizza.jpg' %}" alt="" title="pizza"/>', '<img src="{% static 'images/hummus.jpg' %}" alt="" title="hummus"/>', '<img src="{% static 'images/pie.jpg' %}" alt="" title="pie"/>', '<img src="{% static 'images/montecristo.jpg' %}" alt="" title="montecristo"/>', '<img src="{% static 'images/eclairs.jpg' %}" alt="" title="eclairs"/>'];     
    
var carousel = $('.slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    onBeforeChange: function (slider) {
        /** Super hacky... if you check direction at this point, you know which way we're going. */
        carousel.direction = slider.swipeDirection();
    },
    onAfterChange: function (slider, index) {
        if (slider.currentSlide === 1) {
            
            /** If you successfully swiped to the second item, clean up the first item and add the next item. */
            var previousImage = carousel.removePreviousImage();
            carousel.addNextImage();
            
            /** Fire event nope or yup based on direction. */
            if (previousImage) {
                if (carousel.direction === 'left') { carousel.trigger('nope', [previousImage]); }
                else { carousel.trigger('yup', [previousImage]); }
            }
        } 

        // else {
        //     console.log("ALL GONE!");
        //     }
        } 
});
    
    carousel.addNextImage = function () {
        var nextImage = images.shift();
        this.images = this.images || [];
        this.images.push(nextImage);
        this.slickAdd($('<div>', { html: nextImage }));
    };
    
    carousel.removePreviousImage = function () {
        var previousImage = this.images.shift();
        this.slickRemove(0);
        return previousImage;
    };
    
    /** Prepare the first two items. */
    carousel.addNextImage();
    carousel.addNextImage();
    
    carousel.sortImages = function () {
    /** Do something when the carousel says nope or yup. */
        carousel.on('nope', function (evt, image) { 
            // console.log('I did not like "', image, '"'); 
            noList.push(image);
            console.log("You don't like:", noList);
        });
        carousel.on('yup',  function (evt, image) { 
            // console.log('I did like "', image, '"'); 
            yesList.push(image);  
            console.log("You like:", yesList);  
            // $('.results').replaceWith('You like:', yesList); //shows only one image
            // console.log("Length of YL", yesList.length);
            // console.log("NL", noList.length);
            // if (yesList.length + noList.length === 7) {
            //     console.log("All gone!");
            // }
        });
        return yesList;
    }
    yesList = carousel.sortImages();
    // console.log("Yay", yesList);
    // $('.results').replaceWith('You like:', yesList);
    // if ($('.slick-track:not(:contains("img")')) {
    //     console.log("Empty!");
    // }
    
}());
});
</script>
<!-- /decide-o-matic page -->

{% endblock %}