{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<p id="demo">Click the button to get your coordinates:</p>
<button onclick="getLocation()">Try It</button>


<p class="message">Swipe right for yes and left for no.</p>
<div class="slider slick-loading">
</div>
<div class="results">
</div>
        
<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;    
  }
</script>    
<script>
$( document ).ready(function() {
(function () {
    var noList = [];
    var yesList = [];
    var images = ['<img src="{% static 'images/indian.jpg' %}" alt="" title=""/>', '<img src="{% static 'images/hamburger.jpg' %}" alt="" title="hamburger"/>', '<img src="{% static 'images/italian-pizza.jpg' %}" alt="" title="pizza"/>', '<img src="{% static 'images/hummus.jpg' %}" alt="" title="hummus"/>', '<img src="{% static 'images/pie.jpg' %}" alt="" title="pie"/>', '<img src="{% static 'images/montecristo.jpg' %}" alt="" title="montecristo"/>', '<img src="{% static 'images/eclairs.jpg' %}" alt="" title="eclairs"/>'];     
    
    var input = 'this is a series of words that you choose to like or dislike'.split(' '); // test
    
var carousel = $('.slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    onBeforeChange: function (slider) {
        /** Super hacky... if you check direction at this point, you know which way we're going. */
        carousel.direction = slider.swipeDirection();
    },
    onAfterChange: function (slider, index) {
        if (slider.currentSlide === 1) {
            
            /** If you successfully swiped to the second item, clean up the first item and add the next item. */
            var previousImage = carousel.removePreviousImage();
            carousel.addNextImage();
            
            /** Fire event nope or yup based on direction. */
            if (previousImage) {
                if (carousel.direction === 'left') { carousel.trigger('nope', [previousImage]); }
                else { carousel.trigger('yup', [previousImage]); }
            }
        } 

        // else {
        //     console.log("ALL GONE!");
        //     }
        } 
});
    
    carousel.addNextImage = function () {
        var nextImage = images.shift();
        this.images = this.images || [];
        this.images.push(nextImage);
        this.slickAdd($('<div>', { html: nextImage }));
    };
    
    carousel.removePreviousImage = function () {
        var previousImage = this.images.shift();
        this.slickRemove(0);
        return previousImage;
    };
    
    /** Prepare the first two items. */
    carousel.addNextImage();
    carousel.addNextImage();
    
    carousel.sortImages = function () {
    /** Do something when the carousel says nope or yup. */
        carousel.on('nope', function (evt, image) { 
            // console.log('I did not like "', image, '"'); 
            noList.push(image);
            console.log("You don't like:", noList);
        });
        carousel.on('yup',  function (evt, image) { 
            // console.log('I did like "', image, '"'); 
            yesList.push(image);  
            console.log("You like:", yesList);  
            // $('.results').replaceWith('You like:', yesList); //shows only one image
            // console.log("Length of YL", yesList.length);
            // console.log("NL", noList.length);
            // if (yesList.length + noList.length === 7) {
            //     console.log("All gone!");
            // }
        });
        return yesList;
    }
    yesList = carousel.sortImages();
    // console.log("Yay", yesList);
    // $('.results').replaceWith('You like:', yesList);
    // if ($('.slick-track:not(:contains("img")')) {
    //     console.log("Empty!");
    // }
    
}());
});
</script>

{% endblock %}