{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<!-- Can refer to this with "chishenma/index.html" -->

Welcome! 

<!-- <form method="POST">
    {{ form.username.errors }}
    <label for="username">WeChat User Name:</label>
    {{ form.username }}
    {{ form.password.errors }}
    <label for="password">Password:</label>
    {{ form.password }}
    <input type="submit" value="Submit"/>
{% csrf_token %}
</form> -->

<div id="user_area">
    {% if user.is_authenticated %}
		<p>Hello, {{user.username}}!</p>
    {% else %}
 		<p><a href="/login/">Log in</a></p>
		<p><a href="/register/">Sign up</p>
    {% endif %}
</div>

<div data-role="page" id="home" data-theme="c">
    <div data-role="content">
        <div id="branding">
            <h1>Chi Shen Ma</h1>
        </div>
    
        <div class="choice_list"> 
        <h1> What would you like to eat? </h1>
        {% if situation_list %} 
            <ul data-role="listview" data-inset="true" >
                {% for s in situation_list %}
                <li><a href="{% url 'restaurants:choose_town' f.id %}" data-transition="slidedown"><img src={{f.picture.url}}/><h3>{{ f.name }}</h3></a></li>
                {% endfor %}
            </ul>   
        {% endif%}
    </div>
    </div>

</div><!-- /page -->
{% endblock %}