{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}


<!-- Start of restaurant details: #three -->
	<div data-role="page" id="three" data-theme="a">

	<!-- Header -->
	<div data-role="header" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false" data-add-back-btn="true">
		<h1>Restaurant Details</h1>
	</div>

	<div role="main" class="ui-content" style="padding:0px;">
		<div class="ui-grid-solo	">
			<div class="ui-block-a" style="margin:0;"><div class="ui-bar ui-bar-a" style="height:auto;padding:0px;">
				<div id="owl-demo" class="owl-carousel owl-theme">
				  <div class="item"><img src="{% static 'images/interiors/fu1039_interior_1.png' %}"></div>
				  <div class="item"><img src="{% static 'images/interiors/fu1039_interior_1.png' %}"></div>
				</div>
				<h2 class="restaurant_title" style="margin:0px 10px;"><span style="font-size:1.5em;">Shanghai 1920s Style</span></h2>
				<h3 class="restaurant_district"><span>Jingan</span></h3>
				<h4 class="restaurant_name" style="margin:0px 10px;"><span>FU 1039</span></h4>
			</div></div>

			<div class="ui-block-a" style="margin:0px;"><div class="ui-bar ui-bar-a" style="height:auto;padding:10px;">
				<p class="rest_deets_p">This is a test</p>
			</div></div>

		</div>
	</div><!-- /content -->

	</div>
<!-- /restaurant details -->




{% endblock %}