{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}


<!-- Start of restaurant list: #two -->

  <div data-role="popup" id="popupWelcome" class="ui-content" data-theme="a" data-overlay-theme="b" style="max-width:300px;background-color:#FFFF99;">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <p>Welcome, and thanks for testing <strong>ChiShenMa</strong>!  Please kindly excuse the mess, this is still a work in progress.  Feel free to play around and let us know your feedback!</p>
  </div>

  <div data-role="page" id="two" data-theme="a">

  <!-- Header -->
  <div data-role="header" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false" data-add-back-btn="true">
    <h1>Restaurant List</h1>

      <fieldset data-role="controlgroup" data-type="horizontal" id="custom-fieldset">
      <select name="filter-by" id="filter-by">
        <option >Filter By:</option>
        <option value="Price">Price</option>
        <option value="Cuisine">Cuisine</option>
        <option value="Other Stuff">Other Stuff</option>
      </select>

      <select name="sort-by" id="sort-by">
              <option >Sort By:</option>
        <option value="Distance">Distance</option>
        <option value="Price">Price</option>
        <option value="Other Stuff">Other Stuff</option>
      </select>
      </fieldset>
  </div>

  <div role="main" class="ui-content">

    <div class="ui-grid-solo  ">
      <div class="ui-block-a" style="margin:0.5em 0;"><a href="{% url 'restaurant_details' %}" data-transition="flow"><div class="ui-bar ui-bar-a" style="height:auto;padding:0px;">
        <img class="img_categories" src="{% static 'images/restaurants/restaurant_martin.png' %}">
        <h2 class="restaurant_title" style="margin:0px 10px;"><span style="font-size:1.5em;">Michelin 3-star Tapas</span></h2>
        <h3 class="restaurant_district"><span>Xujiahui</span></h3>
        <h4 class="restaurant_name" style="margin:0px 10px;"><span>RESTAURANT MARTIN</span></h4>
      </div></a></div>
      <div class="ui-block-a" style="margin:0.5em 0;"><a href="{% url 'restaurant_details' %}" data-transition="flow"><div class="ui-bar ui-bar-a" style="height:auto;padding:0px;">
        <img class="img_categories" src="{% static 'images/restaurants/fu_1039.png' %}">
        <h2 class="restaurant_title" style="margin:0px 10px;"><span style="font-size:1.5em;">Shanghai 1920s Style</span></h2>
        <h3 class="restaurant_district"><span>Jingan</span></h3>
        <h4 class="restaurant_name" style="margin:0px 10px;"><span>FU 1039</span></h4>
      </div></a></div>
      <div class="ui-block-a" style="margin:0.5em 0;"><a href="{% url 'restaurant_details' %}" data-transition="flow"><div class="ui-bar ui-bar-a" style="height:auto;padding:0px;">
        <img class="img_categories" src="{% static 'images/restaurants/restaurant_martin.png' %}">
        <h2 class="restaurant_title" style="margin:0px 10px;"><span style="font-size:1.5em;">Michelin 3-star Tapas</span></h2>
        <h3 class="restaurant_district"><span>Xujiahui</span></h3>
        <h4 class="restaurant_name" style="margin:0px 10px;"><span>RESTAURANT MARTIN</span></h4>
      </div></a></div>
      <div class="ui-block-a" style="margin:0.5em 0;"><a href="{% url 'restaurant_details' %}" data-transition="flow"><div class="ui-bar ui-bar-a" style="height:auto;padding:0px;">
        <img class="img_categories" src="{% static 'images/restaurants/fu_1039.png' %}">
        <h2 class="restaurant_title" style="margin:0px 10px;"><span style="font-size:1.5em;">Shanghai 1920s Style</span></h2>
        <h3 class="restaurant_district"><span>Jingan</span></h3>
        <h4 class="restaurant_name" style="margin:0px 10px;"><span>FU 1039</span></h4>
      </div></a></div>
    </div>

  </div><!-- /content -->

  </div>
<!-- /restaurant list -->


<!-- <p id="demo">Click the button to get your coordinates:</p>
<button onclick="getLocation()">Try It</button>
<div data-role="header"> 
  <h1>Please choose a restaurant.</h1>
</div>
<div data-role="content" class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
    <p class="show-page-loading-msg"></p>
    <div class="choice_list">
      {% if restaurants %}  ˛
        <ul data-role="listview" data-inset="true" data-filter="true">
          {% for rest in restaurants %}
            <li><a href="/restaurant_details/{{ rest.id }}/">{{ rest.name }}</a>a></li>
          {% endfor %}
        </ul> 
      {% endif %}
    </div>
</div> -->
<script>
    $(document).on("click", ".show-page-loading-msg", function() {          
        $.mobile.loading('show');
    });
</script>
<script>
    $(document).bind( 'mobileinit', function(){
      $.mobile.loader.prototype.options.text = "loading";
      $.mobile.loader.prototype.options.textVisible = true;
      $.mobile.loader.prototype.options.theme = "a";
      $.mobile.loader.prototype.options.textonly = false;
      $.mobile.loader.prototype.options.html = "<span class='ui-bar ui-overlay-c ui-corner-all'><img src='{% static 'images/loading.png' %}' /><h2>Firing up our decision-o-matic engine, please hold . . .</h2></span>";
    });
</script>
<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;  
  }
</script>

{% endblock %}