{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<p id="demo">Click the button to get your coordinates:</p>
<button onclick="getLocation()">Try It</button>
<div data-role="header"> 
  <h1>Please choose a restaurant.</h1>
</div>
<div data-role="content" class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
    <p class="show-page-loading-msg"></p>
    <div class="choice_list">
      {% if restaurants %}  
        <ul data-role="listview" data-inset="true" >
          {% for rest in restaurants %}
            <li><a href="/restaurant_details/{{ rest.id }}/">{{ rest.name }}</a>a></li>
          {% endfor %}
        </ul> 
      {% endif %}
    </div>
</div>
<script>
    $(document).on("click", ".show-page-loading-msg", function() {          
        $.mobile.loading('show');
    });
</script>
<script>
    $(document).bind( 'mobileinit', function(){
      $.mobile.loader.prototype.options.text = "loading";
      $.mobile.loader.prototype.options.textVisible = true;
      $.mobile.loader.prototype.options.theme = "a";
      $.mobile.loader.prototype.options.textonly = false;
      $.mobile.loader.prototype.options.html = "<span class='ui-bar ui-overlay-c ui-corner-all'><img src='{{ STATIC_URL }}images/loading.png' /><h2>Firing up our decision-o-matic engine, please hold . . .</h2></span>";
    });
</script>
<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;  
  }
</script>


{% endblock %}