{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div data-role="page" id="login" data-theme="a">

<div data-role="header" data-position="fixed" style="background-color:#EEEEEE;" data-tap-toggle="false" data-add-back-btn="true">
</div><!-- /header -->
<form method="POST">
    {{ form.username.errors }}
    <label for="username">Username:</label>
    {{ form.username }}
    {{ form.password.errors }}
    <label for="password">Password:</label>
    {{ form.password }}
    <input type="submit" value="Submit"/>
{% csrf_token %}
</form>
{% endblock %}