{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html> 
<html> 
    <head>
    <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">    
    <title>Chi Shen Ma</title> 
    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile-1.4.2.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chishenma.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slick.css" />
<!--     <link rel="stylesheet" type="text/css" href="{% static 'restaurants/jquery.mobile.structure-1.0.1.css' %}" />
    <link rel="apple-touch-icon" href="{% static 'restaurants/images/launch_icon_57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'restaurants/images/launch_icon_72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'restaurants/images/launch_icon_114.png' %}" /> -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-latest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mobilebase.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
<!--     // <script type="text/javascript" src="{{ STATIC_URL }}js/jssor.slider.mini.js"></script> -->

</head> 

<body> 
    <div id="main">
    
        {% block content %}
        {% endblock %}
    </div> 

<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/slick.js"></script>
</body>
</html>