<!DOCTYPE html> 
<html> 
    <head>
  <meta charset="UTF-8">    
    <title>Chi Shen Ma</title> 
    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile-1.4.2.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chishenma.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.0.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.0.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.touchSwipe.min.js"></script>

</head> 

<body> 
    <div id="main">
        {% block content %}
        {% endblock %}
    </div> 
</body>
</html>