
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobileimage_24 */
.sosh_mobileimage_24 {
	margin: 4px 0px 4px 0px;
	width: auto; height: 40px;
	display: block;
}
/* mobilecontainer */
.ui-content.sosh_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* mobilegrid_1 */
.sosh_mobilegrid_1 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.sosh_mobilegrid_1 > tr > td {
	vertical-align: top;
}
.sosh_mobilegrid_1_row_0, .sosh_mobilegrid_1_row_0 > td {
	height: auto
}
.sosh_mobilegrid_1_row_1, .sosh_mobilegrid_1_row_1 > td {
	height: 30px
}
.sosh_mobilegrid_1_row_2, .sosh_mobilegrid_1_row_2 > td {
	height: 30px
}
.sosh_mobilegrid_1_row_3, .sosh_mobilegrid_1_row_3 > td {
	height: 30px
}
.sosh_mobilegrid_1_row_4, .sosh_mobilegrid_1_row_4 > td {
	height: 30px
}
/* mobilegridcell_2 */
.sosh_mobilegridcell_2 {
	height:auto !important;
	width:50%;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_2 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_6 */
.sosh_mobileimage_6 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_3 */
.sosh_mobilegridcell_3 {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_3 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_7 */
.sosh_mobileimage_7 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_4 */
.sosh_mobilegridcell_4 {
	height:30px !important;
	width:50%;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_8 */
.sosh_mobileimage_8 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_5 */
.sosh_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_15 */
.sosh_mobileimage_15 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_9 */
.sosh_mobilegridcell_9 {
	height:30px !important;
	width:50%;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_9 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_16 */
.sosh_mobileimage_16 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_10 */
.sosh_mobilegridcell_10 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_17 */
.sosh_mobileimage_17 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_11 */
.sosh_mobilegridcell_11 {
	height:30px !important;
	width:50%;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_11 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_18 */
.sosh_mobileimage_18 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_12 */
.sosh_mobilegridcell_12 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_19 */
.sosh_mobileimage_19 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_13 */
.sosh_mobilegridcell_13 {
	height:30px !important;
	width:50%;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_20 */
.sosh_mobileimage_20 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilegridcell_14 */
.sosh_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.sosh_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_22 */
.sosh_mobileimage_22 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilefooter */
.sosh_mobilefooter {
	min-height:38px;
}